.contactForm {
  width: 350px;
  border: 1px solid black;
  padding: 10px;
  position: relative;
  box-shadow: 1px 1px 28px 1px rgba(0, 0, 0, 0.32) inset;
}

.btn {
  border: none;
}

.btn:hover {
  background: linear-gradient(to top, #51170c, #f65252);
  color: #cccccc;
}

.text {
  display: flex;
  align-items: center;
  gap: 2px;
}

.btnList {
  position: absolute;
  right: 10px;
  top: 30%;
  display: flex;
  gap: 5px;
}
