.contactForm {
  width: 350px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 28px 1px rgba(0, 0, 0, 0.32);
  background-color: white;
  border-radius: 10px;
}

.btn {
  border: none;
}

.btn:hover {
  background: linear-gradient(to top, #51170c, #f65252);
  color: #cccccc;
}

.text {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 20px;
}

.btnList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
